@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.login{
  @include display-flex($justify:space-between);

  &__img{
    width: 70%;
    height: 100vh;
    
    img{
      width: 100%;
      height: 620px;
      min-height: 100vh;
      object-fit: cover;
      object-position: center;
    }
  }
  &__form{
    @include display-flex($direction:column);
    width: 30%;
    padding: 60px 20px;
    
    .login__title{
      @include font-style($size:32px, $color:$login-color-text,$bold:bold, $family:$main-fonts);
    }

    .login__subtitle{
      @include font-style($size:12px, $color:$login-color-text,$bold:bold, $family:$main-fonts, $spacing:.5px);
      margin-top: -25px;
      margin-bottom: 50px;

      .login__register{
        @include font-style($size:12px, $color:$icons-color, $bold:bold, $family:$main-fonts);
      
      } 
    }

    input{
      @include border-style (1px solid $main-border-color, $radius:5px);
      @include font-style($size:12px, $color:$login-color-text-input, $bold:bold, $family:$main-fonts, $spacing:1px);
      padding: 15px;
      box-sizing: border-box;
      width: 100%;
      outline: none;
      cursor: pointer;
    }

    input:first-child{
      margin-bottom: 10px;
    }
    input::placeholder{
      @include font-style($size:12px, $color:$login-color-text-input, $bold:bold, $family:$main-fonts, $spacing:1px);
    }

    .login__forgot{
      @include font-style($size:12px, $color:$login-color-text-input, $family:$main-fonts);
      text-align: right;
    }

    .login__inner-remember{
      @include display-flex();
      @include font-style($size:12px, $color:$login-color-text, $bold:bold, $family:$main-fonts);
      margin-bottom: 80px;

      input{
        width: auto;
      }

    }
    .login__btn{
      @include border-style($radius:5px);
      @include font-style($size:17px, $color:$btn-color, $bold:bold, $family:$main-fonts);
      padding: 15px 0;
      box-sizing: border-box;
      border-color: transparent;
      cursor: pointer;
      background-color: $btn-bg;
    }
  } 
}