@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.header__container{
    @include display-flex();
    text-align: left; 
    max-width: 100%;
    margin: 5px auto;
   

    .leftBlock{
        width: 100%;
        background-image: url('https://travel-consult.ua/share/hotel/f3a15v6452.jpg');
        background-repeat: no-repeat;
        background-size: cover ;
        object-fit: cover;
        object-position: center;
        opacity: 0.8;

        .leftBlockHotel{
            @include display-flex($direction:column);
            padding: 40px 20px;
            
            &__name{
                @include font-style($size:20px, $color:$elements-bg, $bold:400, $family:$main-fonts,$spacing:0.5px);
            }

            &__address{
                @include font-style($size:13px, $color:$elements-bg, $bold:400, $family:$main-fonts,$spacing:0.5px);
            }
        }
    }

    .rightBlock{
        @include display-flex($direction:column);
        max-width: 100%;
        width: 700px;
        background-repeat: no-repeat;
        background-size: cover ;
        object-fit: cover;
        object-position: center;

        &__header{
            @include display-flex($justify:space-between);
            width:100%;
            background-color: rgba(128, 128, 128, 0.123);
            
            .tourIdNumber{
                padding: 10px;
                .idNumber{
                    @include font-style($size:13px, $color:black, $bold:500, $family:$main-fonts);
                }

                .idDescr{
                    @include font-style($size:12px, $color:rgba(12, 148, 12, 0.856), $bold:500, $family:$main-fonts);
                }
            }

            .tourCurrency{
                @include display-flex($justify:space-between); 
                padding: 15px;
                width:100%;
                max-width: 110px;

                .tourCurrencyItem{
                    @include font-style($size:14px, $color: rgba(128, 128, 128, 0.801), $bold:500, $family:$main-fonts);
                    text-align: center;
                    padding: 5px;
                    width:23%;
                    background-color: rgba(128, 128, 128, 0.295);
                }

                .tourCurrencyItem:hover{
                    @include font-style($color:$elements-bg);
                    background-color: $icons-color; 
                }
            }
        }

        &__price{
            @include display-flex();
            @include font-style($size:13px, $color:$icons-color, $family:$main-fonts);
            padding: 20px 10px;
            background-color: $elements-bg;

            .totalPrice{
                @include font-style($size:20px,$bold:bold);
                margin-right:10px;
            }

            .totalPriceDescr{
                padding: 5px 0;  
            }
        }

        &__details{
            @include font-style($size:13px, $color:$elements-bg, $bold:500, $family:$main-fonts);
            @include position(relative);
            min-height:200px;
            
            
          
            .shadowBlock{
                // background-color: rgba(128, 128, 128, 0.685);
                background-image: url('https://travel-consult.ua/share/hotel/f3a15v6452.jpg');
                background-repeat: no-repeat;
                background-size: cover ;
                object-fit: cover;
                object-position: center;
                min-height: 200px;
                box-sizing: border-box;
                filter: contrast(0.2);

            }

            .shadowBlockInfo{
                @include position(absolute,0);

                .blockForDetails{
                    padding: 20px 10px;

                        .detailsDuration{
                        @include display-flex();
                        margin-bottom: 10px;

                        .detailsDurationDays{
                            @include font-style($bold:bold);
                            padding-left: 3px;
                        }
                        
                    }

                    .detailsRoom{
                        @include display-flex();

                        .roomType{
                            @include font-style($bold:bold); 
                            padding-left: 3px;
                        }
                        
                    }
                }    
            }
        }
    }
}