@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.portal{
    @include background($elements-bg);
    @include border-style (1px solid $main-border-color);
    max-width: 100%;
    
    &__buttons{
        @include display-flex();
        @include border-style ($border-bottom: 1px solid $main-border-color);
        @include font-style($size:14px,  $color:$main-color-text, $family:$main-fonts);  
        padding: 5px 5px;
        margin: 0 ;
        min-width: 170px;

        .icon{
        @include font-style($size:14px,  $color:$icons-color, $family:$main-fonts);     
        
        }
        .button{
            padding-left: 10px;
        }
    }
}