@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
 
.profile{
  @include display-flex($justify:space-around);
  padding:30px 0px 30px 20px;

  @media (max-width:1024px){  
    @include display-flex($direction:column);
    padding-right:20px;
  }  

  &__section{
    @include border-style (1px solid $main-border-color);
    box-sizing: border-box;
    width: 50%;
    text-align: left;
    padding: 20px 20px; 
    background-color: $elements-bg;
    margin-right: 20px;
    margin-bottom: 20px;

    @media (max-width:1024px){  
      width: 100%;
    }
    
      .section__title{
        @include font-style($size:17px, $color:black, $family:$main-fonts);
        padding-bottom: 20px;
      }

      .section__input{
        @include font-style($size:15px, $color:$main-color-text, $family:$main-fonts);
        padding-bottom: 15px;
          
        .input__inner{
          padding-bottom: 15px;

          label{
            display: block;
            padding-bottom: 10px;
          } 

          input{
            @include border-style (1px solid $main-border-color, $radius:5px);
            box-sizing: border-box;
            padding:10px;
            width: 100%;
            outline: none;
            cursor: pointer;
          
           @media (max-width:1024px){  
            padding:20px;
            }
          }

        }
      }

      .section__btn{
        @include border-style($radius:5px);
        @include font-style($size:15px, $color:$btn-color, $family:$main-fonts);
        max-width: 100px;
        min-width: 55px;;
        float: right;
        padding:5px;
        outline: none;
        border-color: transparent;
        cursor: pointer;
        background-color: $btn-bg;

      }
      .section__btn:hover{
        background-color: $visitors-bg;
      }
    .company__details{
      width: 100%;

      .input__inner{
        padding-bottom: 15px;
        

        label{
          @include font-style($size:15px, $color:$main-color-text, $family:$main-fonts);
          display: block;
          padding-bottom: 10px;
        }

        input{
          @include border-style (1px solid $main-border-color);
          @include border-style($radius:5px);
          box-sizing: border-box;
          padding:10px 0 10px 10px;
          width: 100%;
          outline: none;
          cursor: pointer;

          @media (max-width:1024px){  
            padding:20px;
          }
        }
      }
    }
      
    }
    .company__addresses{
      @include display-flex($justify:space-between);
      width: 100%;
      
      @media (max-width:1024px){  
        @include display-flex($direction:column);
      } 

      .input__inner{
        box-sizing: border-box;
        width: calc(50% - 15px);

        @media (max-width:1024px){  
          width:100%;
        } 

        label{
          @include font-style($size:15px, $color:$main-color-text, $family:$main-fonts);
          display: block;
          padding-bottom: 10px;
        }

        input{
          @include border-style (1px solid $main-border-color);
          @include border-style($radius:5px);
          box-sizing: border-box;
          min-width: 206px;
          padding:10px 0 10px 10px;
          outline: none;
          cursor: pointer;

          @media (max-width:1024px){  
            padding:20px;
          }
        }
      }
    }
    .company__city{
      @include display-flex($justify:space-between);
      width: 100%;

      @media (max-width:1024px){  
        @include display-flex($direction:column);
      } 
  
      .input__inner{
        box-sizing: border-box;
        width: calc(33% - 15px);

        @media (max-width:1024px){  
          width:100%;
        } 

        label{
          @include font-style($size:15px, $color:$main-color-text, $family:$main-fonts);
          display: block;
          padding-bottom: 10px;
        }

        input{
          @include border-style (1px solid $main-border-color);
          @include border-style($radius:5px);
          box-sizing: border-box;
          padding:10px 0 10px 10px;
          width: 100%;
          outline: none;
          cursor: pointer; 

          @media (max-width:1024px){  
            padding:20px;
          }
        }
      }
    }
}
