$main-bg: #f9f9f9;
$elements-bg: white;
$main-border-color: #e3e3e3;
$main-color-text:#4b545ec7;
$main-text-hover:#262b31ee;
$main-fonts: 'Roboto', sans-serif;
$icons-color: rgba(45, 134, 252, 0.897);

/*cards styles*/

$hotels-bg: rgba(147, 235, 147, 0.637);
$hotels-color: rgba(44, 233, 44, 0.808);
$tours-bg: rgba(224, 91, 91, 0.705);
$tours-color: rgba(255, 14, 14, 0.795);
$visitors-bg: rgba(212, 120, 208, 0.781);
$visitors-color: rgba(139, 17, 133, 0.849);

/*buttons styles*/
$btn-color: white;
$btn-bg:  rgba(45, 134, 252, 0.897);

/*register and login pages styles*/
$login-color-text:#25272bc7;
$login-color-text-input: rgba(153, 145, 145, 0.884);

/*tours-hotels page*/
$btn-color-tours: rgba(233, 141, 21, 0.979);
$btn-color-hover-hotels: rgb(255, 174, 0);
$btn-color-hover-tours: rgba(124, 189, 233, 0.842);
$fonts: 'Montserrat', sans-serif;
$hotels-fonts-color: rgba(54, 54, 112, 0.897);

/*new-tour page*/
$fonts-color-title:rgba(206, 149, 42, 0.89);

/*new-hotel page*/
$bg-btn-submit:rgba(5, 150, 24, 0.856);
$bg-btn-submit-hover: rgba(0, 247, 33, 0.856);
// $btn-submit-color-hover: rgba(124, 189, 233, 0.842);