$main-bg: #f9f9f9;
$elements-bg: white;
$main-border-color: #e3e3e3;
$main-color-text:#4b545ec7;
$main-text-hover:#262b31ee;
$main-fonts: 'Roboto', sans-serif;
$icons-color: rgba(45, 134, 252, 0.897);

/*cards styles*/

$hotels-bg: rgba(147, 235, 147, 0.637);
$hotels-color: rgba(44, 233, 44, 0.808);
$tours-bg: rgba(224, 91, 91, 0.705);
$tours-color: rgba(255, 14, 14, 0.795);
$visitors-bg: rgba(212, 120, 208, 0.781);
$visitors-color: rgba(139, 17, 133, 0.849);