@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


.sidebar{
    width: 20%;
    min-height: calc(100vh - 3px);
    @include background($elements-bg);
    @include border-style (1px solid $main-border-color);
    


    &__wrapper{
        @include display-flex($align:center);
        @include font-style($size:12px,  $color:$main-color-text, $family:$main-fonts);
        @include border-style ($border-bottom: 1px solid $main-border-color);
        img{ 
            
            object-fit: cover;
            object-position: center;
            @include border-style ($radius:50%);                    
                            
        } 
    }
    &__list{
        @include display-flex($direction:column);
        @include font-style($align:left);
        @include font-style($size:14px,  $color:$icons-color, $family:$main-fonts);  
        margin-top: 40px;
        margin-left: 15px;

        &__item{
            @include display-flex();
            margin-bottom: 20px;
            
           .items__icon{
               @include font-style(18px);
               margin-right: 10px;
           }
           .activeLink{
            text-decoration: none;
            @include font-style($size:18px,  $color:$main-color-text, $bold:bold, $family:$main-fonts);  
           }
        }
    }


}

.closed__sidebar{
   width: 70px;
    
   .sidebar__list__item {
      margin: 10px auto;

      .items__icon{
        margin-right: 10px;
        @include font-style(18px);
       }
    }
}
