@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.tour__item{
    @include display-flex();
    @include border-style( $border-top: 1px dotted $main-border-color, $border-bottom: 1px dotted $main-border-color);

    width: 100%;

    .tour__img{
        
       img{
         display: block;
         width: 100%;
         object-fit: cover;
         object-position: center; 
        }
    }

    .tour__details{
        @include display-flex($direction:column);
        @include font-style($size:17px, $color:black, $family:$main-fonts);
        width: 55%;
        height: 100%;
        padding-left: 15px ;
        text-align: left;
        background-color: $elements-bg;
        

        .tour__title{
        @include font-style($size:25px, $color:$icons-color, $bold:bold, $family:$main-fonts);
        margin-top: 15px;

        }

        .tour__subtitle{
        @include font-style($size:15px, $color:$login-color-text-input,$bold:300, $family:$main-fonts);
        
        
        }

        .tour__duration{
           @include display-flex();
           margin-top: 15px; 

           .tour__label{
            @include font-style($size:15px, $color:$login-color-text-input,$bold:300, $family:$main-fonts);
           }

           .tour__days{
            @include font-style($size:15px, $bold:500, $family:$main-fonts);
            padding-left: 5px;
           }
        }

        .tour__room-type{
            @include display-flex();  
            margin-top: 15px;

           .tour__label{
            @include font-style($size:15px, $color:$login-color-text-input,$bold:300, $family:$main-fonts);   
           } 

           .tour__type{
            @include font-style($size:15px, $bold:500, $family:$main-fonts);
            padding-left: 5px;
           }
        }
    }

    .tour__price{
        @include font-style($size:22px, $bold:700, $family:$main-fonts);    
        width: 20%;
        padding-top: 50px;

        .descr{
            @include font-style($size:15px);
            margin-bottom:73px;
        }
    }

    .btn{
        @include font-style($size:15px, $color:$btn-color, $family:$main-fonts, $spacing:.5px);
        width: 100%;
        padding:5px;
        outline: none;
        border-color: transparent;
        text-transform: uppercase;
        cursor: pointer;
        background-color: $btn-color-tours;
    }

    .btn:hover{
        @include font-style($size:15px, $color:$elements-bg, $family:$main-fonts, $spacing:.5px);
        background-color: $btn-color-hover-tours;
    }
}